* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /*------------------base style*/
  
  body {
    padding: 20px;
    background-color: #FFFFFF;
  }
  
  .wrapper {
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
  }
  
  .container {
    margin: 0 auto;
    text-align: center;
  }
  
  /*------------------sidebar_left*/
  .sidebar_left {
    
  }
  
  /*------------------header*/
  
  
  /*------------------static_tab*/
  
  
  /*------------------main*/
  
  
  /*------------------side bar right*/